body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}




.sidebar .top {
    margin-top: 20px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background: white;
    -webkit-box-shadow: 9px 0px 39px -4px rgba(0,0,0,0.73);
    -moz-box-shadow: 9px 0px 39px -4px rgba(0,0,0,0.73);
    box-shadow: 9px 0px 39px -4px rgba(0,0,0,0.73);
}
.sidebar a {
    text-decoration: none;
    color: black;
    font-weight: 570;
}
.sidebar .top .Chore-Points .pro-sign a {
    position: absolute;
    margin-top: -27px;
    margin-left: 125px;
    color: rgb(0, 52, 97);
    background: rgb(105, 185, 255);
    border-radius: 50px;
    border: 10px solid rgb(105, 185, 255);
    border-width: 10px;
    font-size: 13px;
}
.sidebar .top .goals .pro-sign a {
    position: absolute;
    margin-top: -27px;
    margin-left: 125px;
    color: rgb(0, 52, 97);
    background: rgb(105, 185, 255);
    border-radius: 50px;
    border: 10px solid rgb(105, 185, 255);
    border-width: 10px;
    font-size: 13px;
}
.sidebar i {
    margin-top: 20px;
    margin-left: 20px;
}
.sidebar .bottom {
    position: absolute;
    bottom: 20px;
}
